
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincon{
    background-color: rgb(142, 177, 241);
    display: flex;
     width: 100%; 
     height: 100vh;
    justify-content: center;
    align-items: center;

}



.box{

    padding: 1em;
    background-color: palevioletred;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input{
    width: 60px;
    height: 60px;
    border-radius: 60%;
    background-color: rgb(43, 143, 176);
    margin: 5px;
    font-size: 1.4em;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#cal{
    width: 98%;
    border-radius:0;
}

#two{
    width: 130px;
    border-radius: 8px;
}



 @media(max-width:378px){
  
input{
    width: 40px;
    height: 40px;
    font-size: 1em;

}



#two{
    width: 90px;
    
}

} 